@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  font-family: "Oswald", serif;
  color-scheme: dark;
  overflow-x: hidden;
}